@{
    ViewData["Title"] = "Ações Disponíveis de administrador";
}

<div class="pt-3">
    <h5 class="pb-3"><a class="text-info" asp-action="Index" asp-controller="Localization">Localizações</a></h5>
    <h5 class="pb-3"><a class="text-info" asp-action="Index" asp-controller="LightPole">Postes de Luz</a></h5>
    <h5><a asp-action="Index" asp-controller="Order">Ordens</a></h5>
</div>

